body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b3037;
  height: 100%;
}

#root {
  background: #2b3037;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.nav {
  width: 300px;
  background-color: #353a43;
  height: auto;
}
.nav svg {
  color: white;
  background-color: #44d1c2;
}
.app div {
  width: 100%;
}
.search-container {
  background-color: #353a43;
  width: 100%;
  height: 70px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #353a43;
  border-radius: 10px;
  padding: 10px;
  outline: #3d424b 2px solid;
}

.currentSong {
  width: 95%;
  height: 70px;
  margin-top: 20px;
  color: white;
  background: #353a43;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  border-radius: 10px;
}

input:-webkit-autofill {
  background-color: #eceff8;
}

input:-internal-autofill-selected {
  background-color: #eceff8;
}

.player {
  border-radius: 10px;
  padding: 10px;
  width: 30vw;
  margin-left: 2%;
  line-height: 12;
  height: 10vw;
}

.query {
  display: flex;
}

.query .btn {
  width: 5%;
  margin-left: 2%;
}

.btn-media-container {
  background-color: #353a43;
  width: 300px;
  height: 300px;
}

form .input-search {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background-color: #141b2d;
  color: white;
  height: 40px;
  border-radius: 10px;
  appearance: none;
  padding-left: 2.5%;
  border: none;
  width: 50vw;
}

.btn {
  border: none;
  appearance: none;
  height: 40px;
  background: #eceff8;
  border-radius: 25px 25px 25px 25px;
  width: 40px;
  -webkit-appearance: none;
  background-color: #44d1c2;
  color: white;
}

.btn-media {
  margin: 10px 20px 20px 20px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.modal {
  height: 3vw;
  width: 15vw;
  position: absolute;
  top: 2vw;
  right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  border-radius: 5px;
  color: white;
  text-align: center;
  transition: opacity 1s ease;
  animation: fadeInOut 3s;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.app-wrapper {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
}

.app-container {
  grid-column: 1;
}

.playlist {
  grid-column: 2;
  color: white;
  width: 30vw;
}
.playlist .container {
  height: 575px;
}

.songList {
  overflow-y: scroll;
  height: 100%;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.songList :-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.playlist-title {
  transition: opacity 1s;
  animation: slideUp 1s;
}

@keyframes slideUp {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.progress-container {
  width: 100%;
  height: 25px;
  border-radius: 25px;
  background: #353a43;
  width: 30vw;
  margin-left: 2.2%;
  margin-top: 3%;
}

.progress {
  width: 0% !important;
  background: #44d1c2;
  height: 100%;
  border-radius: 25px;
}

.song {
  border-radius: 10px;
  margin: 3% 2%;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 3%;
  height: 70px;
  transition: transform 1s, opacity 1s;
  animation: slideIn 1s;
}

@keyframes slideIn {
  0% {
    transform: translateY(-70px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

.source {
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  color: #eceff8;
  width: 20px;
  height: 20px;
}

.youtube {
  background-color: rgba(237, 40, 57, 0.5);
}

.success {
  background: rgba(50, 178, 98, 0.5);
}
.fail {
  background: rgba(237, 40, 57, 0.5);
}
